/*reset*/
@import "reset.css";

/*variables*/
@import "variables.css";

/*components*/
@import "components/header.css";
@import "components/footer.css";

/*screens*/
@import "screens/main.css";

/*font*/
@font-face {
  font-family: "poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
  unicode-range: U+AC00-D7A3;
}

* {
  font-family: "poppins", "Noto Sans KR";
  line-height: 150%;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: var(--main-width);
}
