.contact-wrap {
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(36, 54, 121);
  border-radius: var(--main-border-radius);
  padding: 44px;
  box-sizing: border-box;
  color: white;
  margin-top: 120px;
}
.contact-wrap span:first-child {
  font-size: 20px;
}
.contact-wrap span:nth-child(2) {
  font-size: 38px;
  font-weight: 700;
  margin: 14px 0px 38px 0px;
  line-height: 1.5;
}
.contact-wrap span:last-child {
  font-size: 24px;
  display: flex;
  align-items: center;
}
