footer {
  width: 100%;
  max-width: 1220px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", "Noto Sans KR";
  color: #808080;
}
.footer-copyright {
  font-size: 14px;
  font-weight: 400;
}
.footer-address {
  font-size: 14px;
  font-weight: 300;
}
@media screen and (max-width: 1320px) {
  footer {
    padding: 0px 50px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1160px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-address {
    margin-top: 10px;
  }
}
