footer {
  width: var(--main-width);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", "Noto Sans KR";
  color: #808080;
}
.footer-copyright {
  font-size: 14px;
  font-weight: 400;
}
.footer-address {
  font-size: 14px;
  font-weight: 300;
}
