header {
  width: 100%;
  max-width: 1220px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  font-family: "poppins", "Noto Sans KR";
}

.header-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}
.header-nav {
  height: 120px;
  display: flex;
  justify-content: center;
}
.header-nav li {
  display: flex;
  align-items: center;
  margin: 22px;
  font-size: 17px;
  font-weight: 500;
}
.header-nav li:hover {
  font-weight: 700;
}
.header-contact {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  border-radius: 25px;
  background-color: black;
  color: white;
}
.header-contact div:hover {
  background-color: rgb(38, 38, 38);
}

.contact-containter {
  height: 250px;
  background-color: #000000;
}
.header__hamburger-btn {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
  display: none;
}
.header__hamburger-btn.active {
  content: url(../../img/spaceai-logo-black.svg);
}
/*------- active -------*/
header.active {
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: white;
  color: black;
}
header.active .header__nav {
  display: flex;
  margin-top: 16px;
}
header.active .header__nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header.active .header__nav li {
  margin: 18px 0px;
  font-size: 20px;
  font-weight: 600;
}
header.active .header__util {
  display: flex;
  flex-direction: column;
}
header.active .header__util a {
  margin: 18px 0px;
  font-size: 18px;
}

@media screen and (max-width: 1320px) {
  header {
    padding: 0px 50px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .header__hamburger-btn {
    display: block;
  }
}
