header {
  width: var(--main-width);
  height: 120px;
  display: flex;
  justify-content: space-between;
  font-family: "poppins", "Noto Sans KR";
}

.header-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}
.header-nav {
  height: 120px;
  display: flex;
  justify-content: center;
}
.header-nav li {
  display: flex;
  align-items: center;
  margin: 22px;
  font-size: 17px;
  font-weight: 500;
}
.header-nav li:hover {
  font-weight: 700;
}
.header-contact {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 48px;
  border-radius: 25px;
  background-color: black;
  color: white;
}
.header-contact div:hover {
  background-color: rgb(38, 38, 38);
}

.contact-containter {
  height: 250px;
  background-color: #000000;
}
